.App {
  font-family: "Source Code Pro", monospace;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #282c34;
  overflow: hidden;
}

.input-area {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.code-input {
  width: calc(100% - 24px); /* Full width minus padding */
  height: 150px;
  margin-bottom: 10px;
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #333;
}

.refresh-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: white;
  transition: background-color 0.3s ease;
}

.refresh-button:hover {
  background-color: #555;
}

.editor {
  width: 100%;
  background: #1e1e1e;
  color: #9cdcfe;
  overflow: auto;
  box-shadow: 0px 0px 10px 0px rgba(15, 15, 15, 0.4);
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
  white-space: pre-wrap;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: 15px;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #5c6370;
  display: block;
  padding-right: 10px;
  text-align: right;
}

/* Override PrismJS Default Styles */
code[class*="language-"],
pre[class*="language-"] {
  color: #d6deeb; /* Light text color for dark backgrounds */
  background: none; /* No background since it's handled by .editor */
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  tab-size: 4;
  hyphens: none;
}

/* Add any additional styles or overrides as needed */
